{% load humanize %}
<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <style>
        @page {
            size: A4;
            margin: 1cm 1.5cm;
        }

        body {
            font-family: "Times New Roman", Times, serif;
            font-size: 10.5pt;
            line-height: 1.15;
            text-align: justify;
            color: #000;
        }

        .center {
            text-align: center;
            font-weight: bold;
        }

        .uppercase {
            text-transform: uppercase;
        }

        .bold {
            font-weight: bold;
        }

        .var {
            color: #8b0000;
            font-weight: bold;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 10px 0;
        }

        table.data-table th,
        table.data-table td {
            border: 1px solid #000;
            padding: 2px 4px;
            text-align: center;
            font-size: 9.5pt;
        }

        .footer-table {
            margin-top: 30px;
        }

        .footer-table td {
            vertical-align: middle;
            padding: 5px;
        }

        .qr-code {
            width: 1.8cm;
            height: 1.8cm;
        }

        .page-break {
            page-break-before: always;
        }

        p {
            margin: 1px 0;
        }
    </style>
</head>

<body>

    <div class="center uppercase">
        «PULLOL BUSINESS MIKROMOLIYA TASHKILOTI» MChJ<br>
        mikromoliya tashkilotining xulosasi
    </div>

    <p class="bold center uppercase" style="margin-top: 8px;">MIJOZ HAQIDA MA’LUMOTLAR</p>
    <p>Mijozning to‘liq ismi sharifi: <span class="var">{{ loan.client.fish }}</span></p>
    <p>Tug‘ilgan sanasi: <span class="var">{{ loan.client.tugilgan_sana|date:"d.m.Y" }}</span> yil</p>
    <p>Pasport seriyasi <span class="var">{{ loan.client.pasport_seriya }}</span>
        <span class="var">{{ loan.client.pasport_berilgan }}</span>,
        amal qilish muddati — <span class="var">21.12.2035 y.</span>
    </p>
    <p>Ro‘yxatdan o‘tgan manzili: <span class="var">{{ loan.client.manzil }}</span></p>
    <p>Ish joyi: <span class="var">{{ loan.financial_info.ish_muassasa }}</span>,
        lavozimi <span class="var">{{ loan.financial_info.ish_lavozim }}</span>
    </p>

    <p class="bold center uppercase" style="margin-top: 8px;">
        Mijoz tomonidan so‘ralgan
        <span class="var">
            {{ loan.details.get_turi_display|lower }}
        </span> shartlari:
    </p>
    <p>
        <span class="var">{{ loan.details.get_turi_display }}</span> summasi:
        <span class="var">{{ loan.details.miqdori|intcomma }}
            ({{ loan.details.miqdori_soz }})
        </span>
        so‘m.
    </p>
    <p><span class="var">{{ loan.details.get_turi_display }}</span> muddati:
        <span class="var">
            {{ loan.details.muddat_oy }}
            ({{ loan.details.muddat_oy_soz }})
        </span> oy.
    </p>
    <p><span class="var">{{ loan.details.get_turi_display }}</span>dan foydalanganlik uchun foiz stavkasi: yillik
        <span class="var">{{ loan.details.foiz }}% ({{ loan.details.foiz_soz }})</span> foiz
    </p>
    <p><span class="var">{{ loan.details.get_turi_display }}</span> bo‘yicha asosiy qarz va foizlarni to‘lash:</p>
    <p style="padding-left: 20px;">- <span class="var">{{ loan.details.get_turi_display|lower }}</span> shartnomasi
        bo‘yicha har oy
        <span class="var">{{ loan.details.get_grafik_turi_display|lower }}</span> to‘lovlari amalga oshiriladi
    </p>
    <p style="padding-left: 20px;">
        Oxirgi yakuniy to‘lov <span class="var">{{ loan.details.get_turi_display|lower }}</span> shartnomasi
        tuzilgan kundan boshlab oxirgi oyning oxirgi kunida amalga oshiriladi
    </p>

    <p class="bold center uppercase" style="margin-top: 8px;">
        <span class="var">
            {{ loan.details.get_turi_display }}
        </span> ta’minoti:
    </p>
    {% if is_avto %}
    <p>
        1. Egalik huquqi <strong><span class="var">{{ collateral.owner_client.fish }}</span></strong>ga
        tegishli bo‘lgan
        garovga olingan avtomobil markasi
        <strong><span class="var">{{ avto.nomi }}</span></strong>,
        rangi - <strong><span class="var">{{ avto.rang }}</span></strong>,
        ishlab chiqarilgan yili - <strong><span class="var">{{ avto.yil }}</span></strong>,
        davlat raqam belgisi <strong><span class="var">{{ avto.davlat_raqami }}</span></strong>,
        kuzov turi - <strong><span class="var">{{ avto.kuzov_turi }}</span></strong>,
        kuzov raqami <strong><span class="var">{{ avto.kuzov_raqami }}</span></strong>,
        dvigatel raqami <strong><span class="var">{{ avto.dvigatel }}</span></strong>,
        shassi raqami - <strong><span class="var">{{ avto.shassi }}</span></strong>.
    </p>
    {% endif %}

    {% if is_kochmas %}
    <p>
        Garovga olingan ko‘chmas mulk turi -
        <strong><span class="var">{{ mulk.nomi }}</span></strong>,
        umumiy maydoni - <strong><span class="var">{{ mulk.umumiy_maydon }}</span></strong> kv.m,
        qurilish osti maydoni - <strong><span class="var">{{ mulk.qurilish_maydon }}</span></strong> kv.m,
        yashash maydoni - <strong><span class="var">{{ mulk.yashash_maydon }}</span></strong> kv.m,
        kadastr raqami - <strong><span class="var">{{ mulk.kadastr_raqami }}</span></strong>,
        manzili - <strong><span class="var">{{ mulk.manzil }}</span></strong>.
    </p>
    {% endif %}

    {% if is_tilla %}
    <p>
        Garovga olingan tilla buyumlar nomi -
        <strong><span class="var">{{ tilla.nomi }}</span></strong>,
        probasi - <strong><span class="var">{{ tilla.probi }}</span></strong>,
        vazni - <strong><span class="var">{{ tilla.vazni }}</span></strong> gr,
        soni - <strong><span class="var">{{ tilla.soni }}</span></strong> ta.
    </p>
    {% endif %}

    <p class="bold center uppercase" style="margin-top: 8px;">Mijozning moliyaviy holati</p>
    <p>
        Anketaga muvofiq <span class="var">{{ loan.client.fish_inisiali }}</span>
        ning o‘rtacha oylik daromadi
        <span class="var">{{ loan.financial_info.daromad|intcomma }}</span> so‘mni tashkil etdi.
    </p>
    <p>
        Mijozning o‘rtacha oylik xarajatlari
        <span class="var">{{ loan.financial_info.xarajatlar|intcomma }}</span> so‘mni
        tashkil etdi.
    </p>

    <p>
        <span class="var">{{ loan.details.get_turi_display }}</span> bo‘yicha oylik
        <span class="var">
            {{ loan.details.get_grafik_turi_display|lower }}
        </span>
        to‘lovi miqdori
        <span class="var">{{ loan.financial_info.tahminiy_tolov|intcomma }}</span> so‘mni tashkil etadi.
    </p>
    <p>
        Mijoz quyidagi majburiyatlarga ega:
        <span class="var">{{ loan.financial_info.majburiyatlar|default:"Mavjud emas" }}</span>.
        Ayni paytda muddati o‘tgan qarzdorligi mavjud emas.
    </p>

    <p class="bold center uppercase" style="margin-top: 8px;">
        <span class="var">
            {{ loan.details.get_turi_display }}
        </span> bo‘yicha
        ta’minot:
    </p>
    {% if is_avto %}
    <p>
        - <strong><span class="var">{{ collateral.owner_client.fish }}</span></strong>ga mulk huquqi asosida tegishli
        avtotransport vositasi <strong><span class="var">{{ avto.nomi }}</span></strong>, quyidagi tafsilotlarga
        muvofiq:
    </p>

    <table class="data-table">
        <thead>
            <tr>
                <th>Nomi</th>
                <th>Kuzov turi va kuzov raqami*</th>
                <th>Dvigatel va shassi raqami*</th>
                <th>Ishlab chiqarilgan yili va rangi*</th>
                <th>Kelishilgan garov qiymati, so‘m</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="var">{{ avto.nomi }}</span></td>
                <td>kuzov turi - <span class="var">{{ avto.kuzov_turi }}</span>, <br>
                    kuzov raqami <span class="var">{{ avto.kuzov_raqami }}</span>
                </td>
                <td>dvigatel raqami <span class="var">{{ avto.dvigatel }}</span>,<br>
                    shassi raqami - <span class="var">{{ avto.shassi }}</span>
                </td>
                <td>rangi - <span class="var">{{ avto.rang }}</span>,<br>
                    ishlab chiqarilgan yili - <span class="var">{{ avto.yil }}</span>
                </td>
                <td><span class="var">{{ avto.bahosi|intcomma }}</span> <br>
                    (<span class="var">{{ avto.bahosi_soz }}</span>)
                </td>
            </tr>
        </tbody>
    </table>

    <p style="font-size: 8.5pt;">
        -* avtotransport egasi: <span class="var">{{ collateral.owner_client.fish }}</span><br>
        -* texnik pasport: <span class="var">{{ avto.texpasport }}</span><br>
        -* ro‘yxatdan o‘tgan manzili/garaj manzili: <span class="var">{{ avto.manzil }}</span><br>
        -* davlat raqami: <span class="var">{{ avto.davlat_raqami }}</span>
    </p>
    {% endif %}

    {% if is_kochmas %}
    <p>
        - <strong><span class="var">{{ collateral.owner_client.fish }}</span></strong>ga mulk huquqi asosida tegishli
        ko‘chmas mulk <strong><span class="var">{{ mulk.nomi }}</span></strong>, quyidagi tafsilotlarga muvofiq:
    </p>

    <table class="data-table">
        <thead>
            <tr>
                <th>Nomi</th>
                <th>Umumiy yer maydoni (m2)</th>
                <th>Qurilish osti maydoni (m2)</th>
                <th>Umumiy foydali maydoni (m2)</th>
                <th>Yashash maydoni (m2)</th>
                <th>Kelishilgan garov qiymati, so‘m</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="var">{{ mulk.nomi }}</span></td>
                <td><span class="var">{{ mulk.yer_maydon|default:"—" }}</span></td>
                <td><span class="var">{{ mulk.qurilish_maydon|default:"—" }}</span></td>
                <td><span class="var">{{ mulk.umumiy_maydon|default:"—" }}</span></td>
                <td><span class="var">{{ mulk.yashash_maydon|default:"—" }}</span></td>
                <td><span class="var">{{ mulk.bahosi|intcomma }} <br>({{ mulk.bahosi_soz }})</span></td>
            </tr>
        </tbody>
    </table>

    <p style="font-size: 8.5pt;">
        -* ko‘chmas mulk egasi: <span class="var">{{ collateral.owner_client.fish }}</span><br>
        -* reestr raqami: <span class="var">{{ mulk.reestr_raqami|default:collateral.reestr_number }}</span><br>
        -* kadastr raqami: <span class="var">{{ mulk.kadastr_raqami }}</span><br>
        -* manzili: <span class="var">{{ mulk.manzil }}</span>
    </p>
    {% endif %}

    {% if is_tilla %}
    <p>
        - <strong><span class="var">{{ collateral.owner_client.fish }}</span></strong>ga mulk huquqi asosida tegishli
        tilla buyumlar <strong><span class="var">{{ tilla.nomi }}</span></strong>, quyidagi tafsilotlarga muvofiq:
    </p>

    <table class="data-table">
        <thead>
            <tr>
                <th>Nomi/Tavsifi</th>
                <th>Probasi</th>
                <th>Vazni (gr)</th>
                <th>Soni (dona)</th>
                <th>Kelishilgan garov qiymati, so‘m</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="var">{{ tilla.nomi }}</span></td>
                <td><span class="var">{{ tilla.probi }}</span></td>
                <td><span class="var">{{ tilla.vazni }}</span></td>
                <td><span class="var">{{ tilla.soni }}</span></td>
                <td><span class="var">{{ tilla.bahosi|intcomma }}</span> <br>
                    (<span class="var">{{ tilla.bahosi_soz }}</span>)
                </td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    <div class="page-break" style="height: 0; margin: 0; padding: 0;"></div>

    <div class="center uppercase">
        «PULLOL BUSINESS MIKROMOLIYA TASHKILOTI» MChJ<br>
        mikromoliya tashkilotining xulosasi
    </div>

    <p style="margin-top: 15px;">«PULLOL BUSINESS MIKROMOLIYA TASHKILOTI» MChJ kredit qo‘mitasining xulosasiga quyidagi
        shartlarda <span class="var">{{ loan.client.fish }}</span>ga
        <span class="var">
            {{ loan.details.get_turi_display|lower }}
        </span> berish masalasi kiritiladi:
    </p>
    <p>
        <span class="var">{{ loan.details.get_turi_display }}</span> summasi:
        <span class="var">{{ loan.details.miqdori|intcomma }} ({{ loan.details.miqdori_soz }})</span>
        so‘m.
    </p>
    <p>
        <span class="var">{{ loan.details.get_turi_display }}</span> muddati:
        <span class="var">{{ loan.details.muddat_oy }} ({{ loan.details.muddat_oy_soz }})</span> oy.
    </p>
    <p>
        <span class="var">{{ loan.details.get_turi_display }}</span>dan foydalanganlik uchun foiz stavkasi: yillik
        <span class="var">{{ loan.details.foiz }}% ({{ loan.details.foiz_soz }})</span> foiz
    </p>
    <p>
        <span class="var">{{ loan.details.get_turi_display }}</span> bo‘yicha asosiy qarz va foizlarni to‘lash:
    </p>
    <p style="padding-left: 20px;">
        - <span class="var">{{ loan.details.get_turi_display|lower }}</span> shartnomasi bo‘yicha har oy
        <span class="var">{{ loan.details.get_grafik_turi_display|lower }}</span> to‘lovlari amalga oshiriladi
    </p>
    <p style="padding-left: 20px;">
        Oxirgi yakuniy to‘lov <span class="var">{{ loan.details.get_turi_display|lower }}</span> shartnomasi tuzilgan
        kundan boshlab oxirgi oyning oxirgi kunida amalga
        oshiriladi
    </p>
    <p class="bold" style="margin-top: 10px;"><span class="var">{{ loan.details.get_turi_display }}</span> ta’minoti:
    </p>
    {% if is_avto %}
    <p>
        1. Egalik huquqi <strong><span class="var">{{ collateral.owner_client.fish }}</span></strong>ga
        tegishli bo‘lgan
        garovga olingan avtomobil markasi
        <strong><span class="var">{{ avto.nomi }}</span></strong>,
        rangi - <strong><span class="var">{{ avto.rang }}</span></strong>,
        ishlab chiqarilgan yili - <strong><span class="var">{{ avto.yil }}</span></strong>,
        davlat raqam belgisi <strong><span class="var">{{ avto.davlat_raqami }}</span></strong>,
        kuzov turi - <strong><span class="var">{{ avto.kuzov_turi }}</span></strong>,
        kuzov raqami <strong><span class="var">{{ avto.kuzov_raqami }}</span></strong>,
        dvigatel raqami <strong><span class="var">{{ avto.dvigatel }}</span></strong>,
        shassi raqami - <strong><span class="var">{{ avto.shassi }}</span></strong>.
        Kelishilgan qiymati: <strong><span class="var">{{ avto.bahosi|intcomma }}</span> so'm</strong>.
    </p>
    {% endif %}

    {% if is_kochmas %}
    <p>
        Garovga olingan ko‘chmas mulk turi -
        <strong><span class="var">{{ mulk.nomi }}</span></strong>,
        kadastr raqami - <strong><span class="var">{{ mulk.kadastr_raqami }}</span></strong>,
        manzili - <strong><span class="var">{{ mulk.manzil }}</span></strong>.
        Kelishilgan qiymati: <strong><span class="var">{{ mulk.bahosi|intcomma }}</span> so'm</strong>.
    </p>
    {% endif %}

    {% if is_tilla %}
    <p>
        Garovga olingan tilla buyumlar nomi -
        <strong><span class="var">{{ tilla.nomi }}</span></strong>,
        vazni - <strong><span class="var">{{ tilla.vazni }}</span></strong> gr.
        Kelishilgan qiymati: <strong><span class="var">{{ tilla.bahosi|intcomma }}</span> so'm</strong>.
    </p>
    {% endif %}

    <p style="margin-top: 25px;">
        «PULLOL BUSINESS MIKROMOLIYA TASHKILOTI» MChJ mikromoliya tashkilotining xulosasi
        <span class="var">{{ loan.created_at|date:"d.m.Y" }}</span> y. tayyorlangan
    </p>

    <p style="margin-top: 15px;">
        «PULLOL BUSINESS MIKROMOLIYA TASHKILOTI» MChJ mikromoliya tashkilotining Kredit
        qo‘mitasi a’zolari «PULLOL BUSINESS MIKROMOLIYA TASHKILOTI» MChJ mikromoliya tashkilotining xulosasi va Mijoz
        tomonidan taqdim etilgan ma’lumotlar bilan tanishdilar:
    </p>
    <p class="bold">Imzolaganlar ro‘yxati:</p>

    <table class="footer-table">
        <tr>
            <td style="width: 35%;" class="bold">Kredit bo‘limi menejeri</td>
            <td style="width: 30%; text-align: center;">
                {% if qr_manager %}
                <img src="{{ qr_manager }}" class="qr-code">
                {% endif %}
            </td>
            <td style="width: 35%; text-align: right;" class="bold">S.O.ESHBEKOV</td>
        </tr>
        <tr style="height: 15px;">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="bold">Kreditlash bo‘limi boshlig‘i</td>
            <td style="text-align: center;">
                {% if qr_akramov %}
                <img src="{{ qr_akramov }}" class="qr-code">
                {% endif %}
            </td>
            <td style="text-align: right;" class="bold">R.N.AKRAMOV</td>
        </tr>
        <tr style="height: 15px;">
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr style="height: 15px;">
            <td></td>
            <td></td>
            <td></td>
        </tr>

        {% if loan.financial_info.filial_nomi %}
        <tr>
            <td class="bold">Filial boshlig‘i</td>
            <td style="text-align: center;">
                {% if qr_filial_boshligi %}
                <img src="{{ qr_filial_boshligi }}" class="qr-code">
                {% endif %}
            </td>
            <td style="text-align: right;" class="bold">{{ loan.financial_info.filial_boshligi_inisiali }}</td>
        </tr>
        <tr style="height: 15px;">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}

        <tr>
            <td class="bold">Direktor</td>
            <td style="text-align: center;">
                {% if qr_obidov %}
                <img src="{{ qr_obidov }}" class="qr-code">
                {% endif %}
            </td>
            <td style="text-align: right;" class="bold">{{ loan.financial_info.direktor_fish_inisiali }}</td>
        </tr>
    </table>

</body>

</html>